<img class="banner_image" src="./assets/img/citypic.jpg">

<div id="main_content">

    <h2> LEARN ALL ABOUT WEBSTER MEDICAL CLINIC </h2>

    <p>
        Webster Medical Clinic has an outstanding staff of high quality physicians.  
        <br>
        Our doctors have decades of combined experience providing 100% quality care to individuals such as yourself.  
        <br>
        Board Certified Doctors on staff.   
    </p>


    <h2> WE PROVIDE THE FOLLOWING SERVICES </h2>

    <ul>
        <li> <strong>Primary Care </strong> (hypertension, diabetes, high cholesterol, asthma,
            obesity, arthritis, upper respiratory infections</li>

        <li> <strong> Family Practice </strong> </li>

        <li> <strong>Neuropsychological Services </strong> (Consultations, Comprehensive evaluations, and treatment)</li>

        <li> <strong> General Medicine </strong>  </li>

        <li> <strong> Psychology </strong> </li>

        <li> <strong> Pediatrics </strong> </li>

        <li> <strong> MISC </strong>  (INS Exams, medical checkup for job-related requirements, immunization and flu shots, school physical, drug testing) </li>

    </ul>

    <table>
        <tr>
            <td>

                <h2>DO YOU NEED A QUALIFIED DOCTOR ?</h2>

                <p>
                    Webster Medical Clinic is the place for you. 
                    <br>
                    WMC is a family healthcare clinic dedicated to serving
                    <br>
                    the health and wellness needs of your entire family.
                    <br>
                    Our doctors are board-certified/board eligible and
                    <br>
                    are affiliated with local hospitals.  They have years of
                    <br>
                    experience treating patients of all ages with all types
                    <br>
                    of conditions.

                </p>

            </td>

            <td>
                <h2>STATE  OF  THE  ART MEDICAL FACILITY</h2>

                <p>
                    Our state of the art facility is meant to give you and
                    <br>
                    your family the best treatment available and offer
                    <br>
                    caring consultations.
                </p>
            </td>

        </tr>


        <tr>
            <td>
                <h2>YOU DESERVE V.I.P. CARE</h2>

                <p>
                    Prompt attention is given upon arrival.  Our Doctors
                    <br>
                    and staff work diligently to ensure that you will have a
                    <br>
                    short waiting time.  
                </p>
            </td>

            <td>
                <h2>QUICK & PROFESSIONAL SERVICE</h2>

                <p>
                    We provide a a friendly atmosphere.  
                    <br>
                    Helpful, compassionate doctors and staff. You’ll be
                    <br>
                    treated with kindness and respect at Webster
                    <br>
                    Medical.
                </p>
            </td>
        </tr>
    </table>

    <h2>WHERE QUALITY CARE ALWAYS COMES FIRST</h2>

    <table class="center"> 
        <tr>
            <td> <img src="./assets/img/6649883_orig.png"> </td>

            <td>  <img src="./assets/img/3412182_orig.jpg"> </td>

            <td>  <img src="./assets/img/6620658_orig.jpg"> </td>
        </tr>

        <tr>
            <td></td>

            <td> <button routerLink="/our-doctors" class="learn_more_btn" type="button">Learn More</button> </td>
        </tr>
    </table>

</div>