h2{
    text-align: center;
}

p {
    text-align: center;
}

li {
    text-align: left;
    padding-top: 10px;
}


table td{
    vertical-align: top;
    padding: 30px;
    text-align: center;
}

#main_content{
    padding-left: 10%;
    padding-right: 10%;
}