<div class="main">

    <div class="item">
        <h2>
            THE BEST CHOICE AND CLINIC FOR YOU...
            <br>
            COME VISIT OUR GREAT OFFICE.
        </h2>
    </div>

    <div class="item">
        <p>Located close to San Leandro Hospital.  
            Surrounded by several specialist doctors' offices, making referrals convenient. 
            We are a short distance from several labs and X-ray facilities </p>
    </div>

    <div class="item">
        <strong>Webster Medical Clinic</strong>
        <br>
        <strong>13847 E. 14th St., Unit #106</strong>
        <br>
        <strong>San Leandro, CA 94578</strong>
    </div>

    <img class="item" src="./assets/img/map_pic_2.png">
</div>