<img class="banner_image" src="./assets/img/citypic.jpg">

<div class="doctor_profile">

    <strong>Eugene McMillan, M.D. Internal Medicine</strong>

    <p>
        I graduated from Darthmouth Medical School.  I have practice Internal Medicine in the Bay Area since 1981.
        Over the years I have worked in a variety of areas. I worked as a primary care internist for many years. 
        I have also been extensively involved in acute hospital based medicine. I worked with the Adult 
        Sickle Cell Program at Children's Hospital of Oakland for more than 10 years. During that period  
        I also worked as an internist with the sub-acute rehab unit at Summit hospital. As a result I have 
        extensive experience with  post operative management of orthopedic procedures as well as patients 
        recovering from  cerebral vascular accidents and other acute medical illness. Most recently I have
        worked as a civil surgeon for the Immigration and Naturalization Service. I plan on continuing to
        work as a primary care physician  for management of hypertension, ,diabetes,asthma sickle cell 
        disease as well as other medical conditions.
    </p>

</div>

<div class="doctor_profile">

    <strong>Dr Floyd Huen, M.D. Internal Medicine</strong>

    <p>
        Dr. Floyd Huen spent 20 years being medical director and primary care provider at the Over Sixties 
        Heralth Center in Berkeley serving patients in Berkeley and Oakland.  Prior to that he was the Medical
         Director at HIghland Hospital. He is board certified in INtrnal Medicine with special interst in
          geriatirics and chronic care especially diabetes.  He was a founding member of the California 
          Physicians alliance advocating for universal health care in the US.  He is married to the former
           Mayor of Oakland Jean Quan and they live in Oakland. Dr Huen will also be providing QME services 
        in the East Bay for the Workers Compensation system.
    </p>

</div>

<div class="doctor_profile">

    <strong>Dr. Hernandez, Family Practice</strong>

    <p>
        Dr. Hernandez specializes in family medicine.  He is a graduate of the University of Minnesota School
         of Medicine, and completed his residency at Arrowhead Regional Medical Center. 
    </p>

</div>


