<img class="banner_image" src="./assets/img/citypic.jpg">


<table class="center">

    <tr>
        <td>
            <table>

                <tr>
                    <td> <h2>WE WOULD LOVE TO HEAR FROM YOU</h2> </td> 

                </tr>

                <tr>
                    <td>
                        <p>
                            Whether you need to make an appointment or have a few questions, 
                            <br>
                            our friendly staff is here to help.  
                        </p>
                    </td>
                </tr>

                <tr>

                        <span class="star"> * </span>  Indicates required field 
                        
                        <br><br>

                         Name <span class="star"> * </span> <br>
                        <input value="First Name" type="text" id="fname" name="fname"> 
                        <input value="Last Name" type="text" id="lname" name="lname"><br>

                        <br><br>

                        Phone <span class="star"> * </span> <br>
                        <input type="text" id="phone" name="phone">

                        <br><br>

                        Email <span class="star"> * </span> <br>
                        <input type="text" id="email" name="email">

                        <br><br>

                        Reason For Contact <br>
                        <input type="text" id="reason" name="reason">

                        <br><br>

                        Comment <span class="star"> * </span> <br>
                        <textarea  type="text" id="comment" name="comment" cols="50" rows="10"> </textarea>

                        <br><br>

                        <input type="submit" value="Submit" class="learn_more_btn">  
                </tr>

            </table>
        </td>
   

        <td>
            <table>
                <tr> <strong> office hours: </strong> </tr>
                <tr> M-F (9AM - 5PM) </tr>

                <br><br>

                <tr> <strong> EMAIL ADDRESS: </strong>  </tr>
                <tr>webmdoakland@gmail.com</tr>

                <br>

                <tr> <strong> TELEPHONE NUMBER: </strong>  </tr>
                <br>
                <tr>PH: 510-922-8611</tr>
                <tr>FAX: 510-338-3677</tr>

                <br>

                <tr> <strong> PHYSICAL ADDRESS: </strong>  </tr>

                <br>

                <tr>Webster Medical Clinic</tr>
                <tr>13847 E. 14th St., Unit #106</tr>
                <tr>​San Leandro, CA 94578</tr>

                <br>

                <tr><img class="map_pic" src="./assets/img/map_pic_2.png"></tr>
            </table>
        </td>
    </tr>
</table>

