
<img class="banner_image" src="./assets/img/citypic.jpg">

<div id="main-content">
    
    <h1>Customers Reviews</h1>

    <div class="review">

        <img class="review_img" src="./assets/img/pina-messina-iIDiRMITYik-unsplash.jpg">
        <h3>Fast Service</h3>
        <p class="review_par">
        "Had my papers for USCIS done here without ay problem: didn't need any vaccinations,
        so the price was very low compared to what I expected, and the appointment was very quick to get.
        Green card in hands!"
        </p>
        <p>- Sofya M.</p>
    </div>


    <div class="review">

        <img class="review_img" src="./assets/img/jaelynn-castillo-xfNeB1stZ_0-unsplash.jpg">
        <h3>Punctuality</h3>
        <p class="review_par">
        "I have visited twice and Dr. McMillan was punctual, efficient and had good bedside manner. I have 
        no complaints and will go back when I next need to see a doctor."
        </p>
        <p>- Kevin McLure</p>
    </div>


    <div class="review">

        <img class="review_img" src="./assets/img/nicola-fioravanti-MryBlxc2ocw-unsplash.jpg">
        <h3>Good Doctor Patient Relationship</h3>
        <p class="review_par">
        "Very good doctor. Has time for his patient and you don't sit all day long waiting. Has 
        good attitude and manners."
        </p>
        <p>- Mary Carter</p>
    </div>
    
</div>


